mule-git-jenkins-cicd/src/main/mule/mule-git-jenkins-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="bac0ed3a-5a8f-4ba1-8ce6-b09290b1bb51" />
	<flow name="mule-git-jenkins-cicdFlow" doc:id="4c358aaa-58eb-4fb2-82f4-653bae8ddf32" >
		<file:listener doc:id="8c7b70fc-85f8-4bd7-9acc-9badd69867a4" config-ref="File_Config" directory="D:\Mule\BELK\Test\Dom\event" autoDelete="true" moveToDirectory="D:\Mule\BELK\Test\Dom\archive">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</file:listener>
		<logger level="INFO" doc:name="Logger" doc:id="0357df75-d693-4318-ab3c-dfa17e505538" message="#[payload]"/>
	</flow>
</mule>
